<div class="card">
<h3>Detalhes sobre o Estabelecimento</h3>
<div class="card-body">
    <div>
        <label><b>Id:  </b></label>       {{estabelecimento.id}}
    </div>
    <div>
        <label><b>Nome:  </b></label>       {{estabelecimento.nome}}
    </div>
    <div>
        <label><b>Endereço:  </b></label>    {{estabelecimento.endereco}}
    </div>
        
    <div>
        <label><b> <i class="fa fa-phone float-right"></i> Telefone  </b></label>     {{estabelecimento.telefone}}
    </div>
        
        
</div>
 </div>
 