
<div class="col-md-8 offset-md-3 card">
    <h3>Adicionar Estabelecimento <i class="fa fa-home"></i><i class="fa fa-plus"></i></h3>
    <form (ngSubmit)="onSubmit()" class="card-body">
    
        <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" id="nome"
                [(ngModel)] = "estabelecimento.nome" name="nome">
        </div>
    
        <div class="form-group">
            <label>Endereço</label>
            <input type="text" class="form-control" id="endereco"
                [(ngModel)] = "estabelecimento.endereco" name="endereco">
        </div>
    
        <div class="form-group">
            <label>Telefone</label>
            <input type="text" class="form-control" id="telefone"
                [(ngModel)] = "estabelecimento.telefone" name="telefone" >
        </div>
    
               
    
        <button class="btn btn-success" type="submit">Adicionar</button>
    </form>
    </div>