<script>
    $( "#telefone" ).keypress(function() {
        $(this).mask('(00) 0000-00009');
    });
</script>
<div class="col-md-8 offset-md-3 card">
    <h3>Adicionar Estabelecimento</h3>
    <form (ngSubmit)="onSubmit()" class="card-body">
    
        <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" id="nome"
                [(ngModel)] = "estabelecimento.nome" name="nome">
        </div>
    
        <div class="form-group">
            <label>Endereço</label>
            <input type="text" class="form-control" id="endereco"
                [(ngModel)] = "estabelecimento.endereco" name="endereco">
        </div>
    
        <div class="form-group">
            <label>Telefone</label>
            <input type="text" class="form-control" id="telefone"
                [(ngModel)] = "estabelecimento.telefone" name="telefone" onkeypress="$(this).mask('(00) 0000-00009')">
        </div>
    
               
    
        <button class="btn btn-success" type="submit">Adicionar</button>
    </form>
    </div>