<h3>Detalhes sobre o Profissional</h3>
<div>
    <div>
        <label><b>Id:  </b></label>       {{profissional.id}}
    </div>
    <div>
        <label><b>Nome:  </b></label>       {{profissional.nome}}
    </div>
    <div>
        <label><b>Endereço:  </b></label>    {{profissional.endereco}}
    </div>
        
    <div>
        <label><b>Tel. Celular:  </b></label>     {{profissional.telCelular}}
    </div>
    <div>
        <label><b>Tel. Fixo:     </b></label>      {{profissional.telFixo}}
    </div>
    <div>
        <label><b>Função:    </b></label>    {{profissional.funcao}}
    </div>
        
        
      
 </div>
