<nav class="navbar navbar-expand-sm  navbar-dark">
    <ul class = "navbar-nav col-md-8">
        <li class = "nav-item">
            <a routerLink="profissionais" routerLinkActive="active" class="nav-link" > <i class="fa fa-users"></i> Profissionais</a>
        </li>
        <li class = "nav-item">
            <a routerLink="estabelecimentos" routerLinkActive="active" class="nav-link" ><i class="fa fa-home"></i> Estabelecimentos </a>
        </li>
      
    </ul>
    <ul class = "navbar-nav col-md-4">
       
        <li class = "nav-item">
            <a routerLink="criar-profissional" routerLinkActive="active" class="nav-link" ><i class="fa fa-user-plus"></i> Adicionar Profissional</a>
        </li>
        <li class = "nav-item">
            <a routerLink="criar-estabelecimento" routerLinkActive="active" class="nav-link" ><i class="fa fa-plus"></i>  <i class="fa fa-home"></i>  Adicionar Estabelecimento</a>
        </li>
    </ul>
</nav>


<div class = "container">
    <router-outlet></router-outlet>
</div>
<footer class = "footer">
    <div class = "container">
        <span>Todos os direitos reservados. 2021. @RobsonQueiroz</span>
    </div>
</footer>