<div class="col-md-8 offset-md-3 card">
<h3>Adicionar Profissional <i class="fa fa-user-plus"></i></h3>
<form (ngSubmit)="onSubmit()" class="card-body">

    <div class="form-group">
        <label>Nome</label>
        <input type="text" class="form-control" id="nome"
            [(ngModel)] = "profissional.nome" name="nome">
    </div>

    <div class="form-group">
        <label>Endereço</label>
        <input type="text" class="form-control" id="endereco"
            [(ngModel)] = "profissional.endereco" name="endereco">
    </div>

    <div class="form-group">
        <label>Celular</label>
        <input type="text" class="form-control" id="telCelular"
            [(ngModel)] = "profissional.telCelular" name="telCelular">
    </div>

    <div class="form-group">
        <label>Tel. Fixo </label>
        <input type="text" class="form-control" id="telFixo"
            [(ngModel)] = "profissional.telFixo" name="telFixo">
    </div>

    <div class="form-group">
        <label>Função</label>
        <input type="text" class="form-control" id="funcao"
            [(ngModel)] = "profissional.funcao" name="funcao">
    </div>

    <button class="btn btn-success" type="submit">Adicionar</button>
</form>
</div>